*{
    margin:0;
    padding:0;
}
body{
    /* overflow: hidden; */
    font-family: Geneva, Tahoma, sans-serif;
  
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color:rgba(128, 128, 128, 0.548);
   
 
}

#btn:hover{
color: white; 
background: rgba(0, 0, 0, 0.514);
}
#btn2:hover{
    color: white; 
    background: rgba(0, 0, 0, 0.514);
    }
    
ul{
 
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
   
}

header{
    background: transparent;
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 1;
}
header li{
    padding: 8px;
    display: inline;
    float: right;
    position: relative;
    bottom: 70px;
 }

#header-img{
    width: 120px;
    height: 80px;
    background-color: white;

}

#image{
    width: 100px;
}



.about-header{
    background: rgb(201, 132, 5);

    width: 100%;
    height: 80px;
    z-index: 1;
}
header li{
    padding: 8px;
    display: inline;
    float: right;
    position: relative;
    bottom: 55px;
 }


#showcase{
    height: 100vh;
    background: url('xxx3.jpg') no-repeat 0px -422px;
    background-size: cover;
    text-align: center;
    
}
.overlay{
    background-color: #000000af;
    height: 100vh;
}

#showcase img{
    width:220px;
  
    margin-top: 11rem;
}
#showcase h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-top: 30px;
    word-spacing: 3px;
    position: relative;
    top: 3px;
  color: #ffffff;
  font-size: 45px;
    width: 80%;
   margin: auto;
 
}
#showcase p{
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    word-spacing: 3px;
  color: #ffffff;
  padding: 33px;
    width: 40%;
   margin: auto;
 
}


#btn{
    background:rgba(0, 0, 0, 0);
    border: rgb(248, 246, 246) 1px solid;
    width: 9%;
    padding: 10px;
   

}
#btn2{
    
    background:rgba(0, 0, 0, 0);
    border: rgb(248, 246, 246) 1px solid;
    width:9%;
    padding: 10px;
    margin-left: 60px;
    
}
.btn{
    display: flex;
    position: relative;
    margin: auto;
    top:10px;
     justify-content: center;
     
}
.box{
    display: flex;
    flex-direction: column;
   text-align: center;
   padding: 0px;
}
#donate{
    width: 150px;
    /* margin-left: 50rem; */
    
    
}


section{
    height: 100vh;
    
}
#about{
    background: #ffffff;
    
}
#contact{
    background: #ccc;
    
}
#about  li{
    padding: 5px;
}
#about h1{
    padding-bottom: 10px;
   
   
}
#about h2{
    font-weight: 100 ;
}
.paragraph{
    text-align: center;
    font-size: 18px;
    width:60%;
    position: relative;
    top: 190px;
margin: auto;
}
.paragraph p{
    line-height: 26px;
}
#box{
    display: flex;
    margin-top:50px;
    padding: 20px;

}
#mission{
    width: 100%;
    padding-right: 90px;
}

#focus{
    width:100%
}

#programme-sec{
    
    text-align: center;
    width:60%;
    position: relative;
    top:150px;
  margin: auto;
  font-size: 18px;
}

.prog{
    padding: 20px;
    width: 100%;
}

.prog h1{
    padding-bottom: 50px;

   }

.prog h2{
 padding-bottom: 35px;
font-weight: 100;
}

/* contact me */
.form{
    background-color: rgba(245, 245, 245, 0.747);
    color: #000;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 50%; 
    padding: 12px;
    border: 0px solid rgba(245, 245, 245, 0.747); 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: transparent;
    color:#000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
  }

  #fname.form{
    width: 80%;
    height: 50px;
    border-radius: 20px;
}
#email.form{
    width: 80%;
    height: 50px;
    border-radius: 20px;
}
#subject.form{
    width: 80%;
    border-radius: 10px;
}
#submit{
    border-radius: 10px; 

}

#contact-footer{
    margin-top: 0px;
    text-align: center;
    padding: 1px;
    height: 4.5vh;
    background: rgb(201, 132, 5);
    font-size: 13px;
    color: whitesmoke;
}
 
  
  input[type="submit"]:hover {
    background-color: rgb(8, 8, 8);
    color: white;
  }
.over-lay{
    background-color: rgba(0, 0, 0, 0.719);
    height: 100vh;
}
  .contact-container {
      margin: auto;
      border-radius: 30px;
    margin-top:30px;
    text-align: center;
   width: 30%;
   height: 35rem;
    background-color: rgba(243, 241, 241, 0.616);
    padding: 30px;
  }

  .contact-container p{
      color: #000000;
  }
  #contact h1{
    padding: 0;
  }
  #contact p{
    padding-bottom: 8px;
   font-size: medium;

  }
  

  
  #contact {
  background-image: url("contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
   color: #000;
  height:100vh;
  letter-spacing: 2px;
  font-family:'Lora',Arial, Helvetica, sans-serif ;

  
  }
  
  .icon {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 5px;
    padding: 0px;

  
    justify-content: center;
  }
  .iconx {
      padding-top: 10px;
 padding-right: 25px;
    width: 10px;
    color: rgb(255, 255, 255);
  }
  .iconx:hover {
    color: rgb(212, 133, 5);
  }

img{
    width: 20px;
}

.acc{
  padding-top: 20px;
    position: relative;
    font-size: 14px;
}
#about-footer{
    margin-top: 488px;
    text-align: center;
    padding: 10px;
    height: 5vh;
    background: rgb(201, 132, 5);
    font-size: 13px;
    color: whitesmoke;
    color: #;
}

#prog-footer{
    margin-top: 355px;
    text-align: center;
    padding: 10px;
    height: 4.5vh;
    background: rgb(201, 132, 5);

    font-size: 13px;
    color: whitesmoke;
}
#contact-footer{
    margin-top: 0px;
    text-align: center;
    padding: 10px;
    height: 4.5vh;
    background: rgb(201, 132, 5);

    font-size: 13px;
    color: whitesmoke;
}
/* gallery */

#gallery{
    height: 100vh;
    overflow-y: auto;
}
#body-gallery{
    background-image: url('xxx3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.overlay-gallery{
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.76);
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
 


#gallery-footer{
    margin-top: 220px;
    text-align: center;
    padding: 10px;
    height: 10vh;
    background: rgb(201, 132, 5);
    font-size: 13px;
    color: whitesmoke;
}

.cc{
    color:rgba(226, 216, 216, 0.808);
    padding-bottom: 0px;
    font-size: 12px;
    text-align: center;
    width: 50%;
    margin: auto;
}


/* The side navigation menu */
           
              
span {
    display:none;
  }
  .sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    background: rgb(201, 132, 5);
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
     letter-spacing: 2px;
  font-family:'Lora',Arial, Helvetica, sans-serif ;

  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
   .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
   span{
    margin-top: 20px;
   }
  
  
footer p{
  
   padding: .5px;
    margin: auto;
    color: rgb(252, 247, 247);
}



@media (max-width: 1200px){
    body{
        overflow: scroll;
        overflow-x: hidden;
      
    }
  
/* 
showcase */


#showcase img{
    width:130px;
  
    margin-top: 2rem;
}

 
    header{
        width: 100%;
    }
    header span{
        color: cornsilk;
        margin-top:-4rem;
    }
    #index-nav .sidenav{
     margin-top:-5rem
    }
    #index-nav ul{
   display: none;
    }

    /* #last{
        display:flex;
        position: relative;
        top: 110px;
      
    } */
    /* #about h1{
        padding-bottom: 10px;
        position: relative;
        top: -290px;
    }
  #about p{
      position: relative;
      top: -290px;
    }
    #mission{
        position: relative;
      top: -300px;
    }

    #focus{
        position: relative;
        top: -300px;

    }
   */


    .btn{
        display: flex;
        position: relative;
        top:-10px;
        width: 80%;
        font-size: 14px;
     
    }
    #donate{
        width: 100px;
     
    }
 #contact{
     font-size: 12.5px;
     height: 125vh;
 }
 .over-lay{
     height: 125vh;
 }
 #contact h2{
    font-size: 13.5px;
    padding: 8px;
  
}





    
.about-header{
    background-color: transparent;
}
#btn{
 
    border: white 1px solid;
    width: 30%;
    padding: 10px;
}
#btn2{
    
   
    border: white 1px solid;
    width: 20%;
    padding: 10px;
    margin-left: 10px;
}
    
  

    form{
     
        padding: 10px;
        color: white;
    }

    img#image{
        width:90px;
    }
   
    header li{
        position: relative;
        top: -8px;
        font-size: 14px;
        padding: 5px;
    }

     #showcase{
        height: 100vh;
        background: url('xxx2.jpg') no-repeat ;
        background-size: 100% 100%;
        text-align: center;
        width: 100%;
        overflow-x: hidden;
        
    }
    #showcase h1{
      
        text-align: center;
        top:40px;
        width: 100%;
        font-size: 23px;
        
    }
    #showcase p{
    text-align:start;
     padding: 50px;
        width: 100%;
        font-size: 12px;
        
    }
    .overlay{
        background-color: #000000a6;
    }
    .pre-content{
        display: none;
    }

    .paragraph{
        text-align: center;
        width:95%;
        position: relative;
        top:320px;
        left: 12px;
    }
  #about p{
    font-size: 16px;
    line-height: 20px;
  }
  #about h2{
    font-size: 18px;
  }
  #about p{
    font-size: 16px;
  }

  #mission ul{
      font-size: 15px;
  }
    #box{
        display: flex;
        flex-direction:row;
        margin-top: 5px;
        font-size: 12px;
    }
        #focus ul{
            font-size: 15px;

        }
    /* #focus{
        flex:1;
    } */
    /* #mission{
        flex:1;
        background: rgb(184, 179, 179);
        padding: 2px;
    } */
    #box h2{
        padding: 7px;
        font-weight: 500;
    }
    
    .prog{
        padding: 0px;
    }
    .prog h2{
        padding: 30px;
        font-size: 18px;
    }
    .column {
        flex: 25%;
        max-width: 30%;
    
      }
    


}


@media (max-width: 500px){
    #box{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        font-size: 12px;
    }
  .navbar{
      display:none ;
  }

  
 #focus{
        width: 100%;
    } 
     #mission{
      width: 100%;
      padding-bottom: 30px;
     padding-right: 0;
    } 
    #about p{
        margin: auto;
       width: 90%;

      }
      .paragraph{
        text-align: center;
        font-size: 15px;
        
        top: 70px;
    margin: auto;
    }

    #about-footer{
        width: 100%;
       margin-top: 190px;
        text-align: center;
        padding: 10px;
        height: 8vh;
        background: rgb(201, 132, 5);
        color: whitesmoke;
    }
    
    #prog-footer{
        margin-top: 220px;
        text-align: center;
        padding: 10px;
        height: 5vh;
        background: rgb(201, 132, 5);
        font-size: 13px;
        color: whitesmoke;
    }
    
    #programme-sec{
    
        text-align: center;
        width:85%;
        position: relative;
        top:50px;
      margin: auto;
      font-size: 15px;
    }
    
    .prog h1{
        padding-bottom: 10px;

    }

   
       
     .contact-container {
        margin: auto;
   
      margin-top:0px;
      text-align: center;
     width: 83%;
     height: 70%;
      background-color: rgba(243, 241, 241, 0.616);
      padding: 20px;
      
   
    }
    #fname.form{
        width: 80%;
    }
    #email.form{
        width: 80%;
    }
    #subject.form{
        width: 80%;
    }

    #contact-footer{
        margin-top: 0px;
        text-align: center;
        padding: 1px;
        height: 4.5vh;
        background: rgb(201, 132, 5);
        font-size: 13px;
        color: whitesmoke;
    }
     .cc{
         padding-top:20px;
         padding-bottom: 10px;
         width: 90%;
         font-weight: bolder;
         text-align: center;
         margin: auto;
     }

     .dd{
         width: 100%;
         text-align: center;
         margin: auto;
     }
     #donate{
       
         width: 150px;
        
     }
     /* sidebar */
     .sidenav {
        padding-top: 15px;
      }
      .sidenav a {
        font-size: 18px;
      }
    
      span {
        display: flex;
        position: fixed;
        padding-top: 0px;
        padding-left: 8px;
        color: black;
    
      }
      .iconx {
        padding-right: 15px;
         }

         header span{
            color: rgb(12, 12, 12);
            margin-top:2rem;
        }
    #contact p{
        padding: 0px;
    }
}


@media(max-width: 360px){

    #contact{
        /* font-size: 12.5px; */
        height: 145vh;
    }
    .over-lay{
        height: 145vh;
    }

    #donate{
        margin-left: 71px;
        width: 150px;
    }

    #contact-footer{
        margin-top: 0px;
        text-align: center;
        padding: 1px;
        height: 7vh;
        background: rgb(201, 132, 5);
        font-size: 13px;
        color: whitesmoke;
    }
    .iconx {
        padding-right: 10px;
         }
       

}

@media(max-width: 320px){
    #showcase p{
  display: none;}

  .btn{
      margin-top: 80px;
  }
  #contact p{
      padding: 0px;
  }
}
 
@media(min-width: 1200px){
.over-lay{
    height: 113vh;
}
#contact-footer{
    height: 3.5vh;
}
#contact{
    height: 113vh;
}
} 