*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Karla', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    position: relative;
   
}
.overlay{
    width:100% ;
    height: 255px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.287);

}

header ul{
    
    list-style: none;
    display: flex;
    justify-content:flex-end ;
    color: white;
    padding-top: 45px;
    padding-right: 20px;
   

}
header a{
    text-decoration: none;
    color: white;
}
header .logo{
    flex:2;
    padding-top: 20px;
}
.logo img{
    width: 135px;
}


header ul li{
    font-family: 'Karla', sans-serif;
   padding: 20px;
   cursor: pointer;
   
}

header ul li:hover{
    color: orangered;
    font-size: 18px;
}
/* 
HOME PAGE */
.showcase-overlay{
    background-color: rgba(0, 0, 0, 0.534);
    height: 100vh;
    width: 100%;
}
.background-image{
    background-image: url(https://images.pexels.com/photos/45842/clasped-hands-comfort-hands-people-45842.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900) ;
   background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

.content{
font-family: 'Karla', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
height: 60vh;
}

.content h1{
    padding: 10px;
    font-size: 42px;
}
.content p{
    padding-bottom: 20px;
}

.content button{
  padding: 8px;
  width: 92px;
  cursor: pointer;
  background-color: transparent;
  border: 2px white solid;
  color: white;
}
  button:hover{
    padding: 11px;
    width: 105px;
    border: 2px orangered solid;
}

/* ABOUT PAGE */

.about-header {
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
   
}

 .about-header ul{
    list-style: none;
    display: flex;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-right: 20px;
}
.about-header a{
    text-decoration: none;
    color: rgb(71, 70, 70);
}


header ul li{
    font-family: 'Karla', sans-serif;
   padding: 20px;
   cursor: pointer;
   
}

.about-header ul li:hover{
    color: orangered;
    font-size: 18px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.about h1{
    padding-bottom: 2.5rem;
    font-weight: lighter;
}
.about-image{
    background-image: url(img/training2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:20% ;
    height: 255px;
    border-radius: 10px;

}

.about-content{
    padding-top: 3rem;
    width: 60%
}

.about-content p{
   text-align: center;
    padding: 10px;
}

.focus{
    display: flex;
    margin-top: 2rem;
 justify-items: center;
 justify-content: space-evenly;
}

.focus ul li{
padding: 5px;
}


.focus .focus-paragraph{
 width:30% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}
.focus h3{
font-weight: 600;
   }
.focus .mission-paragraph{
    width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      
  }
.focus  img{
    width: 18%;
}

/* TEAM */
.team-h2{
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 20px;
    font-weight: lighter;
}
.team{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.team .img{
    background-color: grey;
    width: 25%;
    height: 45%;
    border-radius: 100%;
}

.team-box{
    width: 22%;
    height: 10rem;
    border-right: 1px grey solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

 .last{
    border-right: none;
}
/* 
Programmes */
.photos{
    display: flex;
    justify-content: space-evenly;

}

h1{
    padding-bottom: 2.5rem;
    font-weight: lighter;
    text-align: center;
}
.photos .image{

    background-image: url(https://images.pexels.com/photos/296230/pexels-photo-296230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=800);
    background-size: cover;
    background-repeat: no-repeat;
    width:20% ;
    height: 255px;
    border-radius: 10px;
  

}
.photos .image1{

    background-image: url(img/gjcbc.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width:20% ;
    height: 255px;
    border-radius: 10px;
  

}
.photos .image2{

    background-image: url(img/cani1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:20% ;
    height: 255px;
    border-radius: 10px;
  

}
.photos .image3{

    background-image: url(img/hub2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:20% ;
    height: 255px;
    border-radius: 10px;
  

}
.prog h2{
    font-weight: lighter;
}

.prog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 48px;
}


.prog-box{
    width: 80%;
    height: 10rem;
    border-bottom: 1px grey solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}
.last{
    border-bottom: none;
}


/* Donate */


.image4{
    
    background-image: url(img/easter2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:20% ;
    height: 255px;
    border-radius: 10px;
}
.donate{
   
    width: 50%;
}
.donate p{
    padding: 48px 0 10px 0;
}
.donate-page{
    display:  flex;
    flex-direction: column;
    height: 70vh;
     align-items: center;
 
}

.donate-button{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.donate-button h4{
    padding-bottom: 10px;
    text-align: center;
}

.donate-button p{
    padding-bottom: 10px;
    text-align: center;
}


#donate{
    width: 150px;

}

.acc{
    list-style: none;
    padding: 20px;
    background-color: orangered;
    color:rgb(243, 240, 240);
    border-radius: 10px;
}
.acc li{
    padding: 2px;
}
/* Contact */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    background-color: rgb(255, 255, 255);
    color: #000;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 50%; 
    padding: 10px;
    border: 0px solid rgba(255, 255, 255, 0.747); 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: transparent;
    color:#ffffff;
    background-color: orangered;
    border: 1px solid orangered;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
  }

  #fname.form{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid orangered;
    

}
#email.form{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid orangered;
    
}
#subject.form{
    width: 80%;
    border-radius: 10px;
    border: 1px solid orangered;
    
}
#submit{
    border-radius: 10px; 

}

  
  input[type="submit"]:hover {
    background-color: white;
    border: 1px solid orangered;
    color: black;
  }

  .contact-container {
      margin: auto;
      border-radius: 10px;
    margin-top:20px;
    text-align: center;
   width: 30%;
   height: auto;
    border: orangered 1px solid;
    padding: 25px;
  }
  #contact{
      padding-bottom: 2.5rem;
  }

  .contact-container p{
      color: #000000;
  }
  #contact h1{
    padding: 0;
  }
  #contact p{
    padding: 12px;
   font-size: medium;

  }
  

  

/* 
Footer */

.inner-footer{
    display: flex;
    background-color: black;
    position: absolute;
     height: 170px;
    width: 100%;
    color: rgb(200, 198, 198);
    text-align: center;
}
.footer p {
   font-size: 10px;
   width: 80%;
   padding: 2px;
}

.footer li{
    font-size: 8px;
    text-decoration: none;
    list-style: none;
    width: 20px;
    padding: 3px;
    color: rgb(200, 198, 198);
 }
footer a{
    color: white;
    
}
.footer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer h5{
    color: orangered;
}

.designer {
    font-size: 10px;
    padding: 10px;
}


/* sideNav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.774);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: orangered;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */



  @media screen and (max-width: 420px) {
h1{
    font-size: 28px;
}
header ul{
    visibility: hidden;
}

span{
margin-left: -80rem;
padding: 2rem;
color: rgb(0, 0, 0);
font-size:30px;
cursor:pointer;

}

/* home */
.content h1{
    font-size: 32px;

}
.logo img{
    width: 90px;
}

.content p{
    font-size: 14px;
    text-align: center;
    width: 75%;
}


/* ABOUT */
.about{
width: 100%;
overflow-y: hidden;
}
.about-image{
    width: 70%;
}
.about-content{
    padding-top: 3rem;
    width: 80%
}
.about-content p{
    width: 100%;
  margin: auto;
  font-size: 13px;
}
.about-content li{
    font-size: 13px;

}
.focus{
    flex-direction: column;
}

.focus .focus-paragraph{
    width: 100%;
    padding-bottom: 25px;
}

.focus .mission-paragraph{
    width: 100%;
    padding-bottom: 25px;
}
/* 
team */

/* .team{
    flex-direction: column;
    visibility: hidden;
}

.team-box{
    width: 100%;
    border-right: none;
}

.team-box p{
    width: 60%;
} */


/* PROGRAMMES */

.overlay{
    height: 155px;
}

.photos .image1{

    width:30% ;
    height: 155px;
}
.photos .image2{

    width:30% ;
    height: 155px;
}
.photos .image3{

    width:30% ;
    height: 155px;
}


.prog {
    font-size: 13px;
    width: 95%;
}

.prog-box{
    width: 90%;
    padding-bottom: 45px;
   
}

.prog-box h2{
    padding-top: 10px;
   padding-bottom: 10px;
}

.last h2{
    padding-bottom: 0px;
}

/* DONATE */
.overlay-donate{
    width:100% ;
    height: 255px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.287);

}
.image4{

    background-image: url(img/easter2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:80% ;
    height: 255px;
    border-radius: 10px;
}
.donate{
   
    width: 50%;
}
.donate p{
    padding: 48px 0 10px 0;
    width: 100%;
    font-size: 13px;
   
}
.donate-page{
    display:  flex;
    flex-direction: column;
    height: 100vh;
     align-items: center;
    
 
}
.donate-page p{
    font-size: 13px;
}



.donate-button h4{
    padding-bottom: 10px;
    text-align: center;
    font-size: 1px;

}

.donate-button p{
    padding-bottom: 10px;
    text-align: center;


}


#donate{
    width: 120px;

}

.acc{
    list-style: none;
    padding: 20px;
    background-color: orangered;
    color:rgb(243, 240, 240);
    border-radius: 10px;
    width: 80%;
}
.acc li{
 font-size: 13px;
}
/* CONTACT */

  .contact-container {

   width: 75%;

  }
  

  #contact p{

   font-size: 13PX;

  }
  

/* FOOTER */

.inner-footer{
    display: flex;
    background-color: black;
    position: absolute;
     height: 150px;
    width: 100%;
    color: rgb(200, 198, 198);
    text-align: center;
}
.footer p {
   font-size: 6.5px;
   width: 100%;
   padding: 2px;
}

.footer li{
    font-size: 5px;
    text-decoration: none;
    list-style: none;
    width: 50px;
    padding: 3px;
    color: rgb(200, 198, 198);
 }
footer a{
    color: white;
    
}
.footer{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer h5{
    color: orangered;
    font-size: small;
    width: 100%;
}
.copy{
    width: 100%;
}


.designer {
    font-size: 5px;
    padding: 10px;
    width: 100%;
}

  }


